@model TaskItem

<h2>New Task</h2>

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="TaskName" class="control-label"></label>
        <input asp-for="TaskName" class="form-control" />
        <span asp-validation-for="TaskName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">To Add</button>
</form>

