@model List<TaskItem>


<h1>Reports</h1>

@* <a asp-action="" asp-route-id="@task.TaskId" class="btn btn-primary">Tasks To Do</a>
<a asp-action="" asp-route-id="@task.TaskId" class="btn btn-primary">Tasks Done</a> *@

