@model List<TaskItem>


<h1>Report</h1>

<a asp-action="ToDoTasks" asp-route-id="" class="btn btn-primary">Tasks To Do</a>
<a asp-action="DoneTasks" asp-route-id="" class="btn btn-primary">Tasks Done</a>

